@import "tailwindcss";

/* Scrollbar custom */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

/* riserva sempre spazio della scrollbar anche quando non è visibile */
.scrollbar-stable {
  scrollbar-gutter: stable;
}